.cart {
    background-color: #fcee09;
    border: 2px solid black;
    
    

    
    
}
.btnchk {
    font-family: Tomorrow, sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    color: black;
    
   }