.parent {
    text-align: center;
    height: 400px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .checkout {
    background-color: orange;
    width: 400px;
    height: 100px;
  }