.app {
    /* background-image: url(https://cdnb.artstation.com/p/assets/images/images/033/902/029/large/jonathan-avidar-render-blurfield.jpg?1610878513);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 82vh; */
    
}